/* .App {
  text-align: center;
}
.profile-pic{
  height: 450px;
  width: 450px;
  object-fit: cover;
  border-radius: 50%;
  transition: 0.2s;
}

.profile-pic:hover{
  transform: scale(1.1);
} */

.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-container {
  
  width: 340px;
}

.movie-poster {
  width: 340px;
  height: 500px;
  object-fit: cover;
}

.movie-name {
  font-size: 24px;
  margin: 0;
}

.movie-summary {
  margin-top: 0;
}

.movie-rating {
  font-size: 18px;
}
.movie-List{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.add-movie-form{
  display: flex;
  flex-direction: column;
  gap:10px;
  padding: 24px;
}
.movie-detail-container{
  width: 100%;
  
}
.route-container{
  padding:16px;
}
.game-box{
  height: 160px;
  /* width: 160px; */
  background: white;
  font-size: 160px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  cursor: pointer;
}
.game-box:hover{
  background: rgb(234, 232, 232);
}
.board{
  /* background: orange; */
  display: grid ;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns:repeat(3,1fr) ;
  max-width: 600px;
}